<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Admin</title>
</head>
<body>
	<div class="wrapper">
		<h1>{{ session['user'] }}'s Admin</h1>
		<p><a href="/logout">Logout</a></p>
		<h2>Change Password</h2>
		<form action="/changepassword" method="post">
			<label for="change-password">New Password:</label>
			<input type="password" name="password" id="change-password" placeholder="Password" required><br>
			<label for="confirm-password">Confirm:</label>
			<input type="password" name="confirm" id="confirm-password" placeholder="Password" required><br>
			<input type="submit" value="Submit">
		</form>
		<h2>Reports</h2>
		{% for report in reports %}
		<div class="comment" id="p{{ report['id'] }}">
			<span class="comment-info">
				<span class="comment-subject">{{ report['subject'] }}</span>
				{% if report['staff'] %}
				<span class="comment-staff">{{ report['staff'] }}</span>
				{% else %}
				<span class="comment-name">{{ report['name'] }}</span>
				{% endif %}
				<span>{{ report['date'] }}</span>
				<a href="/b/{{ report['board'] }}/#p{{ report['id'] }}" class="comment-id">No. {{ report['id'] }} on {{ report['board'] }}</a>
			</span><br>
			<div class="reason">
				Reason: "{{ report['reason'] }}"
			</div>
			{% if report['replyto'] %}
			<div><a href="#p{{ report['replyto'] }}" class="comment-replyto">@{{ report['replyto'] }}</a></div>
			{% endif %}
			<div class="comment-text">
				{% for line in report['text'] %}
				{% if line.startswith(">") %}
				<span class="greentext">{{ line }}</span>
				{% elif line.startswith("<") %}
				<span class="orangetext">{{ line }}</span>
				{% else %}
				{{ line }}
				{% endif %}
				{% if not loop.last %}
				<br>
				{% endif %}
				{% endfor %}
			</div>
			{% if session['user'] %}
			<div class="admin-options">
				<form action="/delete?admin=1" method="post">
					<input type="hidden" name="board" value="{{ report['board'] }}">
					<input type="hidden" name="post" value="{{ report['id'] }}">
					<input type="submit" class="delete" value="Delete This">
				</form>
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</body>
</html>