<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/fontawesome/css/fontawesome.css">
	<link rel="stylesheet" href="/static/fontawesome/css/solid.css">
	<title>Admin</title>
</head>
<body>
	<div class="wrapper">
		<a href="/">Back</a>
		<h1>{{ session['user'] }}'s Admin</h1>
		<p><a href="/logout">Logout</a></p>
		<h2>Announcement</h2>
		<form action="/announce" method="post">
			<textarea name="announce" id="" cols="35" rows="10" placeholder="Announcement">{{ announce }}</textarea><br>
			<input type="submit" value="Announce">
		</form>
		<h2>Change Password</h2>
		<form action="/changepassword" method="post">
			<label for="change-password">New Password:</label>
			<input type="password" name="password" id="change-password" placeholder="Password" required><br>
			<label for="confirm-password">Confirm:</label>
			<input type="password" name="confirm" id="confirm-password" placeholder="Password" required><br>
			<input type="submit" value="Submit">
		</form>
		<h2><a href="/reports">Reports</a></h2>

		{% if staff %}
		<h2>Staff List</h2>
		<table>
			<tr>
				<th>Username</th>
				<th>Auth</th>
			</tr>
			{% for row in staff %}
			<tr>
				<td>{{ row[0] }}</td>
				{% if row[1] == 0 %}
				<td><i class="fa-solid fa-chess-king"></i> Admin</td>
				{% elif row[1] == 1 %}
				<td><i class="fa-solid fa-shield-halved"></i> Mod</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
</body>
</html>