<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="All created boards at {{ site_name }}">
    <title>Created Boards - {{ site_name }}</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="/">{{ site_name }}</a></h1>
        <h2>Created Boards</h2>
        {% for board in results %}
        <h3><a href="/b/{{ board }}/">{{ board }} (Total: {{ results[board] }})</a></h3>
        {% endfor %}
    </div>
</body>
</html>
