<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="All created boards at {{ site_name }}">
    <title>Created Boards - {{ site_name }}</title>
</head>
<body>
    <div class="wrapper">
        <h1>Created Boards</h1>
        {% for board in all_boards %}
        <h2><a href="/b/{{ board }}/">{{ board }}</a></h2>
        {% endfor %}
    </div>
</body>
</html>
