<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ board_name }} - {{ site_name }}, {{ site_description }}">
	<link rel="stylesheet" href="/static/style.css">
	<title>{{ board_name }} - {{ site_name }}</title>
</head>
<body>
	<div class="wrapper">
		{% if session['user'] %}
		<p>Hello, {{ session['user'] }}</p>
		<p><a href="/logout">Logout</a></p>
		{% endif %}
		<h1><a href="/b/{{ board_name }}/">{{ board_name }}</a> - {{ site_name }}</h1>
		<!-- forum options -->
		<h2><a href="/boards" id="created-boards">Created Boards</a></h2>
		<form action="/go" method="post">
			<input type="text" name="board" id="go-board" placeholder="board" required>
			<input type="submit" id="go-submit" value="Go">
		</form>
		<!-- comment form -->
		<h2>Submit Comment</h2>
		<form action="submit" method="post" id="comment-form">
			<label for="form-name">Name:</label>
			<input type="text" name="name" id="form-name" placeholder="{{ default_name }}"><br>
			{% if session['user'] %}
			<label for="form-staff">Post as staff:</label>
			<input type="checkbox" name="staff" id="form-staff" value="true"><br>
			{% endif %}
			<label for="form-subject">Subject:</label>
			<input type="text" name="subject" id="form-subject" placeholder="Subject"><br>
			<label for="form-replyto">Reply To:</label>
			<input type="text" name="replyto" value="{{ replyto }}" id="form-replyto" placeholder="1"><br>
			<label for="form-text"><span id="form-req" title="Required">*</span> Comment:</label><br>
			<textarea name="text" id="form-text" cols="35" rows="15" placeholder="Comment..." required></textarea><br>
			<input type="submit" id="form-submit" value="Submit">
		</form>
		<!-- comment section -->
		<h2>Comments Section (Total: {{ comments|length }})</h2>
		{% for comment in comments %}
		<div class="comment" id="p{{ comment['id'] }}">
			<span class="comment-info">
				<span class="comment-subject">{{ comment['subject'] }}</span>
				{% if comment['staff'] %}
				<span class="comment-staff">STAFF</span>
				{% else %}
				<span class="comment-name">{{ comment['name'] }}</span>
				{% endif %}
				<span>{{ comment['date'] }}</span>
				<a href="#p{{ comment['id'] }}" class="comment-id">No. {{ comment['id'] }}</a>
				<a href="?replyto={{ comment['id']}}" class="comment-reply">Reply</a>
				{% for reply in comment['replies'] %}
				<a href="#p{{ reply }}" class="comment-replies">{{ reply }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</span><br>
			{% if comment['replyto'] %}
			<div><a href="#p{{ comment['replyto'] }}" class="comment-replyto">@{{ comment['replyto'] }}</a></div>
			{% endif %}
			<div class="comment-text">
				{% for line in comment['text'] %}
				{% if line.startswith(">") %}
				<span class="greentext">{{ line }}</span>
				{% elif line.startswith("<") %}
				<span class="orangetext">{{ line }}</span>
				{% else %}
				{{ line }}
				{% endif %}
				{% if not loop.last %}
				<br>
				{% endif %}
				{% endfor %}
			</div>
			{% if session['user'] %}
			<form action="/delete" method="post">
				<input type="hidden" name="board" value="{{ board_name }}">
				<input type="hidden" name="post" value="{{ comment['id'] }}">
				<input type="submit" class="delete" value="DELETE THIS">
			</form>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</body>
</html>
