<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ board }} at /b/{{ board }}/ on {{ site_name }}">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ board }} - /b/{{ board }}/ - {{ site_name }}</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="/b/{{ board }}">{{ board }} - {{ site_name }}</a></h1>
        <!-- forum options -->
        <h2><a href="/boards" id="created-boards">Created Boards</a></h2>
        <form action="/go" method="post">
            <input type="text" name="board" id="go-board" placeholder="board" required>
            <input type="submit" id="go-submit" value="Go">
        </form>
        <!-- comment form -->
        <h2>Submit Comment</h2>
        <form action="submit" method="post" id="comment-form">
            <label for="form-name">Name:</label>
            <input type="text" name="name" id="form-name" placeholder="Guest"><br>
            <label for="form-subject">Subject:</label>
            <input type="text" name="subject" id="form-subject" placeholder="Subject"><br>
            <label for="form-replyto">Reply To:</label>
            <input type="text" name="replyto" id="form-replyto" value="{{ tag }}" placeholder="Comment ID"><br>
            <label for="form-text"><span id="form-req" title="Required">*</span> Comment:</label><br>
            <textarea name="text" id="form-text" cols="35" rows="15" placeholder="Comment..." required></textarea><br>
            <input type="submit" id="form-submit" value="Submit">
        </form>
        <!-- comment section -->
        <h2>Comments Section</h2>
        {% for comment in comments %}
        <div class="comment" id="p{{ comment['id'] }}">
            <span class="comment-info">
                <span class="comment-subject">{{ comment["subject"] }}</span>
                <span class="comment-name">{{ comment["name"] }}</span>
                <span class="comment-date">({{ comment["date"] }})</span>
                <a href="#p{{ comment['id'] }}" class="comment-id">No. {{ comment["id"] }}</a>
                <a href="?tag={{ comment['id'] }}" class="comment-reply">Reply</a>
                <span>
                    {% for id in comment["replies"] %}
                    <a href="#p{{ id }}" class="comment-replies">#{{ id }}</a>{{ ", " if not loop.last else "" }}
                    {% endfor %}
                </span>
            </span><br>
            {% if comment["replyto"]|length %}
            <p><a href="#p{{ comment['replyto'] }}" class="comment-replyto">@{{ comment["replyto"] }}</a></p>
            {% endif %}
            <span class="comment-text">
                {% for line in comment["text"] %}
                {{ line }}
                {% if not loop.last %}
                <br>
                {% endif %}
                {% endfor %}
            </span>
        </div>
        {% endfor %}
    </div>
</body>
</html>
