<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Reports</title>
</head>
<body>
	<div class="wrapper">
		<a href="/admin">{{ session['user'] }}'s Admin</a>
		<h1>Reports</h1>
		{% for report in reports %}
		{% if report['size'] > 0 %}
		<h3><a href="/reports/{{ report['board'] }}/">{{ report['board'] }} (Total: {{ report['size'] }})</a></h3>
		{% endif %}
		{% endfor %}
	</div>
</body>
</html>