body {
	margin: 0;
	background-color: #0a0011;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.1em;
}
.wrapper {
	margin: 0 auto;
	width: 90%;
}
input[type=submit] {
	font-size: 1em;
}
#form-req {
	font-size: 1.7em;
	color: #ff0000;
}
#form-text {
	width: 100%;
}
input[type=text], input[type=password] {
	font-size: 1.1em;
	background-color: #ffffff;
}
input[type=checkbox] {
	width: 1.4em;
	height: 1.4em;
}
textarea {
	font-size: 1.1em;
	background-color: #ffffff;
}
.comment {
	background-color: #200136;
	border-radius: 10px;
	margin: 8px 0;
	padding: 8px;
}
.comment-name {
	font-weight: bold;
	font-size: 1.2em;
	color: #00ff00;
	overflow-wrap: break-word;
}
.comment-id {
	text-decoration: underline;
}
.comment-reply {
	text-decoration: underline;
}
.comment-subject {
	font-weight: bold;
	font-size: 1.2em;
	color: #ff0000;
	overflow-wrap: break-word;
}
a {
	color: #fff;
}
a:hover {
	color: #ff0000;
}
.comment-replyto {
	font-weight: bold;
	color: #1da1f2;
}
.comment-replies {
	font-weight: bold;
	color: #1da1f2;
}
.comment-text {
	overflow-wrap: break-word;
	margin: 8px 0;
}
.greentext {
	color: #00ff00;
}
.orangetext {
	color: #ff8000;
}
.delete {
	color: #ff8000;
}
.delete:hover {
	font-size: 1.3em;
}
.comment-staff {
	font-weight: bold;
	font-size: 1.2em;
	color: #00ffff;
	text-decoration: underline 1px;
}