body {
	margin: 0;
	background-color: #0a0011;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.1em;
}
.wrapper {
	margin: 0 auto;
	padding: 10px;
	max-width: 1650px;
}
input[type=submit] {
	font-size: 1em;
}
#form-req {
	font-size: 1.7em;
	color: #ff0000;
}
#form-text {
	width: 100%;
}
input[type=text], input[type=password] {
	font-size: 1.1em;
	background-color: #ffffff;
}
input[type=checkbox] {
	width: 24px;
	height: 24px;
}
textarea {
	font-size: 1.1em;
	background-color: #ffffff;
}
.comment {
	background-color: #200136;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
}
.comment-name {
	font-weight: bold;
	font-size: 1.2em;
	color: #00ff00;
	overflow-wrap: break-word;
}
.comment-id {
	text-decoration: underline;
}
.comment-reply {
	text-decoration: underline;
}
.comment-subject {
	font-weight: bold;
	font-size: 1.2em;
	color: #ff0000;
	overflow-wrap: break-word;
}
a {
	color: #fff;
}
a:hover {
	color: #ff0000;
}
.comment-replyto {
	font-weight: bold;
	color: #1da1f2;
}
.comment-replies {
	font-weight: bold;
	color: #1da1f2;
}
.comment-text {
	overflow-wrap: break-word;
	margin: 10px 0;
}
.greentext {
	color: #00ff00;
}
.orangetext {
	color: #ff8000;
}
.delete, .report, .unreport {
	background: transparent;
	border: none;
	color: #ff8000;
	cursor: pointer;
	text-decoration: underline;
}
.delete:hover, .report:hover, .unreport:hover {
	color: #ff0000;
	font-size: 1.3em;
	text-transform: uppercase;
}
.comment-staff {
	font-weight: bold;
	font-size: 1.2em;
	color: #00ffff;
	text-decoration: underline 1px;
}
.user-options, .admin-options {
	padding: 5px 0;
}
.reason {
	margin: 10px 0;
	font-weight: bold;
	font-style: italic;
}